html, body{
	background-image: radial-gradient(#f5f38e , #fffed9 ) ;
	text-align: center;
	margin: 0;
	padding: 0;
}
/*barraNav*/
#logo{
	width: 100px;
	transition: transform 1s;
	height: 100px;
	border: none;
	&:hover{
	transform: rotate(360deg);
	}
}
div.width-100{
	width: 100%;
}
@media only screen and (min-width:768px) and (max-width:2000px){
	div{
		&.itemsNav{
			z-index: 1000;
			ul{
			list-style-type: none;
			font-size: 20px;
			font-family: 'Oxygen', sans-serif;
			padding-top: 10px;
			}
			
		}
		div.menu-bar{
			display: none;
		}
	}
	
}
i.carrouselIcon{
	font-size: 70px;
    color: black;
}
a.carrouselPrevious{
	margin-left: 170px;
}
a.carrouselNext{
	margin-right: 170px;
}
	@media (min-width:320px) and (max-width:800px)
	{
		div.menu-bar{
			width: 100%;
			a.bt-menu{
				display: block;
				font-size: 25px;
				-webkit-box-sizing: border-box;
				float: right;
				font-size: 40px;
			}
		}
		div.itemsNav{
			width: 80%;
			height: 100%;
			margin: 0;
			z-index: 1000;
			left: -100%;
			ul{
			list-style-type: none;
			font-size: 25px;
			font-family: 'Oxygen', sans-serif;
			li{
				a{
					color: #333333;
					i{
						margin: 3px;
					}
				}
			}
			}
		}
	}
@media only screen and (min-width:800px) and (max-width:2000px)
{
	ul{
		width: 70%;
		li{
			a{
				border-bottom: none;
				color: #333333;
				transition: font-size 1s;
				&:hover{
					border-bottom: solid 3px #e3b154;
					font-size: 23px;
					color: #333333;
				}
			
			
			}
		}
	}
}

	
	

/*main*/
@each $texto in _title,_p,_subtitle{
	.main_#{$texto}{
		color:$titulos;
		font-family: 'Montserrat', sans-serif;
	}
}

.main__title{
    font-size: 3.125rem;
    font-weight: bolder; 
}
.main__p{
    color: $p-color;
    font-size: 1.875rem;
    font-family: 'Oxygen', sans-serif;
    line-height: 50px;
}
.main__subtitle{
	font-size: 2.5rem;
}
@media (min-width:500px) and (max-width:800px)
{
	div.carrousel{
		margin-left: 60px;
		margin-right: 60px;
	}
}
@media (max-width: 1440px){
i.carrouselIcon{
	font-size: 70px;
    color: black;
}
a.carrouselPrevious{
	margin-left: 10px;
}
a.carrouselNext{
	margin-right: 10px;
}
div.itemsNav{
	ul{
		li{
			margin-right: 30px;
			a{
				span{
					font-size: 17px;
				}
			}
		}
	}
}
}
div.cta{
	margin-top: 30px;
}
.btn-golden{
	background-color: #e3b154;
}
button.btn{
	font-size: 1.5rem;
}
@media(max-width:500px){
	div.carousel-item{
		img{
			width: 100%;
			height: 400px;
			border-radius: 200px;
			-webkit-border-radius: 200px;
			-moz-border-radius: 200px;
			-ms-border-radius: 200px;
			-o-border-radius: 200px;
		}
	}
	a{
		&.carrouselPrevious{
			i{
				display: none;
			}
		}
		&.carrouselNext{
			i{
				display: none;
			}
		}
	}
}
/*presentacion.html*/
div.presentacion{
	div{
		height: 500px;
		background-color: #fff7d6;
		margin: 0 5px;
		a{
			color: #212529;
		}
		@-webkit-keyframes animar{
			0%{-webkit-transform:translate(0px,0px);}
			10%{-webkit-transform:translate(20px,0px);}
			20%{-webkit-transform:translate(0px,0px);}
			30%{-webkit-transform:translate(20px,0px);}
			40%{-webkit-transform:translate(0px,0px);}
			50%{-webkit-transform:translate(20px,0px);}
			60%{-webkit-transform:translate(0px,0px);}
			70%{-webkit-transform:translate(20px,0px);}
			80%{-webkit-transform:translate(0px,0px);}
			90%{-webkit-transform:translate(20px,0px);}
			100%{-webkit-transform:translate(0px,0px);}
		}
		i{
			font-size: 80px;
			padding-top: 40px;
			&:hover{
				-webkit-animation:animar .6s 1;
			}
		}
		p{
			padding-top: 70px;
			font-size: 20px;
		}	
	}
}
@media (max-width: 992px){
	div.presentacion{
		div{
			margin: 20px;
		}
	}
}
@media(max-width:500px){
	div.presentacion{
		div{
			width: 100%;
		}
	}
}
/*productos.html*/
@media(min-width:800px){
	div.item{
		img{
			width: 100%;
			height: 400px;
		}
	}
}
div.img-container{
	margin-top: 30px;
	div.item{
		border-radius: 50px;
		overflow: hidden;
		img{
			border-radius: 40px;
			transition: all 0.3s ease-out;
			&:hover{
				cursor: pointer;
				transform: scale(1.2, 1.2);
			}
		}
		margin-bottom: 30px;
	}
	h2{
		color: $h2-color;
		font-size: 2.5rem;
	}
}
div.row{
	margin: 0 30px;
}

@media(max-width:800px){
	div.item{
		img{
			width: 100%;
			height: 300px;
		}
	}
}










/*contacto.html*/

section{
	form{
		width: 350px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		div{
			&.border-gold{
				border-color: #e3b154;
			}
		}
		 
	}
}
@media only screen and (max-width:800px)
{
	section{
		form{
			margin-right: 280px;
			div.border-gold{
				width: 500px;
				height: 700px;
				margin: 0 auto;
			}
		}
	}
	div.form-group{
		margin: 3rem;
		margin-left: 0px;
		margin-right: 0;
		div.input-group{
			height: 80px;
		}
	}
	div.text-center{
		input{
			height: 100px;
		}
	}
}
div{
	i.color-gold{
		color: #e3b154 ;;
	}
}
@media(max-width:500px){
	form{
		div.border-gold{
			width: 100%;
		}
	}
}
/*franquicias.html*/
.textoForm{
	color: #333333;
	font-size: 1.25rem;
	font-family: 'Oxygen', sans-serif;
	line-height: 50px;
	margin: 0 auto;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.margin-form{
	margin: 0 500px 0 500px;
}
@media(max-width: 1400px){
	.margin-form{
		margin: 0 200px 0 200px;
	}
}
@media only screen and (min-width:768px) and (max-width:1024px){
	div{
		input.input-height{
			height: 70px;
		}
	}
	button.btn-golden{
		height: 70px;
	}
	select.custom-select{
		height: 70px;
	}
}
@media (max-width:800px){
	.margin-form-md{
		margin-left: 150px;
    	margin-right: 150px;
	}

}
@media (max-width:500px){
	
}
/*footer*/
footer{
	bottom: 0;
	position: relative;
	width: 100%;
	.social__p{
		@extend .main__p;
		font-size: 1.5rem;
	}
	.social__items{
		text-align: left;
		list-style-type: none;
	}
	div.social{
		width: 200px;
	}
}
.absolutFooter{
		bottom: 0;
		position: absolute;
		width: 100%;
}
@media only (min-width:768px)
{
	footer.absolutFooter-md{
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}