html, body{
	background-color: $bg-color;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(150deg,#000000,  #362f13, #000000);
    background-size: 400% 300%;
	animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

//estilo del formulario

div.formulario-inicio{
	background-color: $i-color;
	height: 400px;
	width: 300px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	div{
		h2{
			margin-top: 40px;
		}
	}
	div.form-group{
		margin-top: 30px;
		input{
			border-radius: 20px;
			height: 45px;
			width: 250px;
		}
	}
	input.submit-input{
		margin-top: 30px;
		height: 45px;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
}
}
//barra de navegacion
nav{
	margin-top: 10px;
	ul{
		list-style: none;
		margin-right: 50px;
		li{
			font-size: 40px;
			a{
				i{
					color: $i-color;
					&:hover{
						opacity: 80%;
					}
				}
			}
		}
	}
}
@keyframes mostrarIconos{
	from{opacity: 0%;}
	10%{opacity: 10%;}
	20%{opacity: 20%;}
	30%{opacity: 30%;}
	40%{opacity: 40%;}
	50%{opacity: 50%;}
	60%{opacity: 60%;}
	70%{opacity: 70%;}
	80%{opacity: 80%;}
	90%{opacity: 90%;}
	100%{opacity:100%;}
}

div.explicacion-alarma{
	animation: mostrarIconos 1s;
	h2{
		color: #FEF9E7;
	}
	p{
		color: #FEF9E7
	}
	i.fa-arrow-circle-right{
		color: $i-color;
		font-size: 70px;
		animation: mostrarIconos 1s;
	}
	i.fa-question-circle{
		color: $i-color;
		font-size: 150px;
		animation: mostrarIconos 1s;
	}
}

//alarma
div.alarm-wrapper{
	margin-top: 10px;
	h1{
		font-size: 50px;
		color: #FEF9E7
	}
	h2{
		margin-top: 50px;
		color: #FEF9E7
	}
	i{
		color: $i-color;
		font-size: 190px;
		animation: mostrarIconos 1s;
		&:hover{
			opacity: 80%;
		}
	}
	div#contenedorDeOpciones{
		margin-top: 30px;
		h2{
			margin-bottom: 20px;
		}
		textarea{
			height: 100px;
			width: 300px;
		
		}
	}
}